<nav class=" bg-slate-800">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="/articles" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">MyArticles</span>
  </a>
  
  <div class="flex md:order-2 space-x-6  rtl:space-x-reverse">
    <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
      <a href="/user">
        <img class="w-8 h-8 rounded-full" src="https://random.dog/2539bc07-5097-4409-a4fa-6f8e885c42ad.jpg" alt="user photo">
      </a>
    </button>
    <button type="button" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %> 
    </button>
  </div>
  </div>
</nav>